html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2d4d4 !important;
  padding: 0;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  z-index: 999;
  width: 5px;
}

.sidebardiv{
  height: 200vh;
  position: fixed;
  width: 8vh;
}

.productPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.pageword{
  display: flex;
  flex-direction: row;
}

.pageword .product{
  position: relative;
  margin-left: auto;
  right: 112px;
}

.table-transparent{
  width: 90% !important;
}

.wholePage{
  display: flex;
  flex-direction: row;
  gap: 30px !important;
  position: relative;
  top: 20px;
}

.content {
  margin-top: 40px;
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  position: relative; 
  overflow: hidden;
  padding: 15px;                  
}

.card{
  width: 92%;
}

.onlythis {
  margin-left: 70%;
  margin-top: 20px;
}

.lgpage {
  height: 95vh !important;
  width: 100%;
  background-color: #ffffff;
}

.newuser {
  max-height: 50px;
  /* padding: 15px; */
}

.logout {
  position: relative;
  margin-top: 48vh !important;
}



.manpics {
  /* background-image: url(./images/Model.jpg); */
  background-size: cover;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.flex-row{
  gap: 15px;
  height: 100%;
}

.signuppage {
/* gap: 15px; */
height: 100%;
width: 100%;
}

.text-left{
  width: 50%;
}

.control{
  outline: none !important;
  
}

.FiUser {
  font-size: 20px;
}

.rowes {
  gap: 8px;
  display: flex;

}

.controls {
  border-radius: 10px;
  border: none;
  padding: 11px;
  outline: none !important;
}

.search {
  border: 0;
  outline: none;
}




.mobilesearch {
  width: 45vh;
}



.searchbtn {
  position: relative;
  right: 40px;
}

.loginbox {
  box-shadow: 3px 5px 12px rgba(0,0,0,0.2);
  padding: 18px;
  margin-top: 30px;
  border-radius: 12px;
  width: 100%;
}


.form-control {
  outline: #ffffff;
  border: #ffffff;
}


.logindetails{
  width: 100%;
  height: 100vh;

}

.logincontent {
  padding: 65px;
  width: 100%;
  background-color: #ffffff;
}

input {
  width: 100%;
}

.continuebtn {
  background-color: green;
  padding: 10px;
  color: white;
  width: 30%;
}

.valid1 {
  color: #ffffff !important;
  background-color: #2BDA53 !important;
  border: none;
  width: auto;
  height: 40px;
}

.valid {
  color: #ffffff !important;
  background-color: #2BDA53 !important;
  border: none;
  width: auto;
  height: 40px;
}

.offcanvas{
   width: 80%;
}

.changerole {
  width: 1500px;
}

@media (max-width: 820px) {
  

  .sidebardiv{
    width: 5.3vh;
  }

  .valid1{
    width: 178px;
    position: relative;
    flex-wrap: nowrap;
  }

  .valid {
    width: 140px;
  }

  .mobilesrc {
    display: flex;
    flex-direction: column;
  }

  .lgpage {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .logindetails{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .manpics{
    display: none;
  }

  .content {
    display: flex;
    width: 80%;
    position: relative;
    right: 26px; 
    gap: 10px;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .wholePage {
    gap: none;
    margin-right: none;
    position: relative;
  }

  .content{
    position: relative;
    right: 5px;
    width: 100%;
  }

  .card {
    width: 36vh;
  }

  .card-body {
    gap: 30px;
  }

  
.productPage{
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  overflow-x: auto;

}

  .logout {
    margin-top: 90vh;
    position: relative;
  }

  .form-position {
    display: flex;
  }

  .loginbox{
    width: 100%;
  }

  .logincontent {
    padding-top: 40px;
    padding: 30px;
  }

  .modal-content {
    margin-top: 80px;
  }

  .changerole{
    flex-wrap: wrap;
    width: 100%;
  }


.pageword {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between !important;
}

.product {
  position: relative;
  left: 1vh;
}

.mobilesearch {
  width: 30vh;
}



.card {
  width: 100%;
}

}

@media (max-width: 400px) {
  .product {
    position: relative;
    left: 1px;
  }
}
